[ req ]
default_bits       = 2048
default_keyfile    = private.key
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca
prompt             = no

[ req_distinguished_name ]
C  = VE
ST = Distrito Capital
L  = Caracas
O  = Mercantil Banco
OU = IT Department
CN = 192.168.137.1

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = 192.168.137.1
IP.1  = 192.168.137.1